@model CryptoPortfolioService_Data.Entities.User
@{
    //ViewBag.Title = "EditProfile";
}

<h2>EditProfile</h2>

@*<form action="~/User/ModifyEntity" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" name="id" value="@Model.Id" readonly hidden /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" value="@Model.Name" hidden /></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" name="manufacturer" value="@Model.Surname" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="color" value="@Model.Email" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" name="material" value="@Model.Password" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="description" value="@Model.Address" /></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" name="price" value="@Model.City" /></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><input type="text" name="price" value="@Model.Country" /></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" name="price" value="@Model.Phone" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Edit profile" />
            </td>
        </tr>
    </table>
</form>*@

@using (Html.BeginForm("ModifyEntity", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
<fieldset>
    <legend>User</legend>
    <div class="editor-field" hidden>
        @Html.EditorFor(model => model.Id)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name) @Html.DisplayFor(model => model.Name) @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Surname)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Surname) @Html.ValidationMessageFor(model => model.Surname)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Address) @Html.ValidationMessageFor(model => model.Address)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.City)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.City) @Html.ValidationMessageFor(model => model.City)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Country)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Country) @Html.ValidationMessageFor(model => model.Country)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Phone)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Phone) @Html.ValidationMessageFor(model => model.Phone)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password)
    </div>
    <input type="file" id="userPicture" name="file" />
    <p>
        <input type="submit" value="Modify" />
    </p>
</fieldset>
}


